/* -- custom css for file index.html -- */

/* -- block custom-block -- */
#obj-28862 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- swiper-container swiper-demo swiper-container-initialized swiper-container-horizontal swiper-container-ios -- */
#obj-16931 {
	height: 300px;
}

/* -- swiper-slide swiper-slide-active -- */
#obj-30543 {
	width: 284px;
}

/* -- swiper-slide swiper-slide-next -- */
#obj-63306 {
	width: 284px;
}

/* -- swiper-slide -- */
#obj-67529 {
	width: 284px;
}

/* -- swiper-slide -- */
#obj-63644 {
	width: 284px;
}

/* -- block custom-block block-text inset medium-inset text-center -- */
#obj-90696 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block text-center -- */
#obj-45300 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- collection-item-image -- */
#obj-38434 {
	background-image:url(../../img/44769.png);
}

/* -- collection-item-image -- */
#obj-51438 {
	background-image:url(../../img/28357.png);
}

/* -- collection-item-image -- */
#obj-56505 {
	background-image:url(../../img/90214.png);
}

/* -- block custom-block block-text inset -- */
#obj-95443 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text inset -- */
#obj-65193 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text inset -- */
#obj-60217 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text inset -- */
#obj-33637 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- h1 text-center -- */
#obj-92181 {
	color: rgb(253, 204, 101);
	 font-family: Anton;
	 font-size: 31px;
}

/* -- block custom-block -- */
#obj-16328 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block -- */
#obj-74889 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block m-3 -- */
#obj-82014 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- h2 text-center m-0 -- */
#obj-49386 {
	font-family: Righteous;
	 font-size: 17px;
}

/* -- h2 text-center m-0 -- */
#obj-86132 {
	font-family: Righteous;
	 font-size: 16px;
}

/* -- h2 text-center m-0 -- */
#obj-60609 {
	font-family: Righteous;
	 font-size: 16px;
}

/* -- h2 text-center m-0 -- */
#obj-86405 {
	font-family: Righteous;
	 font-size: 16px;
}

/* -- block custom-block text-center m-0 -- */
#obj-24073 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text text-center text-muted m-0 inset medium-inset -- */
#obj-44282 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

/* -- block custom-block block-text -- */
#obj-56339 {
	border-top-width: 1px !important;
	 border-top-style: dashed !important;
	 border-top-color: transparent !important;
	 border-bottom-width: 1px !important;
	 border-bottom-style: dashed !important;
	 border-bottom-color: transparent !important;
}

